* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}
:root {
    --color-text-r: #F6511D;
    --color-background-primary-r: #FFB400;
    --color-background-secondary-r: #00A6ED;
    --color-background-r: #7FB800;
    --color-r: #273a37;
    --border-radius-primary: 22px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 100%; */
    width: auto;
    background-color: var(--color-r);
    height: auto;
    /* margin: 3px; */
}
nav{
    /* border: 2px solid greenyellow; */

}
ul{
    display: inline-flex;
}
ul a{
    text-decoration: none;
    margin: 20px;
}
li {
    font-weight: 600;
    font-family: 'Alata', sans-serif;
    list-style: none;
    color: aliceblue;
    /* border: 2px solid olive; */
}
#logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Alata', sans-serif;
    color: #fff;
}
#about{
    order: 2;
    /* border-style: dashed; */
    stroke: #00A6ED;

}
#blog{
    order: var(--color-background-secondary-r);
    
}
#home:hover {
    color: brown;
}

#blog:hover {
    color: tomato;
}

#services:hover {
    color: cadetblue;
}

#about:hover {
    color: darkgoldenrod;
}
@media screen and (max-width: 500px) {
    #nav{
        display: none;
    }
    
}