* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Alata', sans-serif;
}
:root {
    --color-text-r: #F6511D;
    --color-background-primary-r: #353535;
    --color-background-secondary-r: #00A6ED;
    --color-background-r: #7FB800;
    --border-radius-primary: 22px;
}
header {
    position: sticky;
    /* border: 2px solid greenyellow; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-background-primary-r);
    height: auto;
}  
  body {
    margin: 0 auto;
    background: #284B63;
  }
  
  main {
    /* border: 2px solid darkblue; */
  }  
  nav {
    color: rgb(0, 0, 0);
  }
  
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
  }
  
  li {
    margin: 10px;
    list-style: none;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    color: #fff;
    content: '';
    transition: all;
  }
  
  li:hover {
    color: aqua;
  }
  
  a {
    font-size: larger;
    text-decoration: none;
    color: greenyellow;
  }
  #logo{
    margin-left: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  
