* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}
:root {
    --color-text: #1C2826;
    --color-background-primary: #EEF4D4;
    --color-background-secondary: #DAEFB3;
    --color-background: #EA9E8D;
    --color: #D64550;
    --border-radius-primary: 22px;
}
header {}

nav {
    background-color: var(--color-text);
}

ul{
    display: inline-flex;
    margin: 10px;
    color: aliceblue;
}
ul a{
    text-decoration: none;
    backdrop-filter: blur(4px);
}
li {
    font-weight: 600;
    font-family: 'Alata', sans-serif;
    list-style: none;
    margin: 20px;
    color: aliceblue;
}


#home:hover {
    color: brown;
}

#blog:hover {
    color: tomato;
}

#services:hover {
    color: cadetblue;
}

#about:hover {
    color: darkgoldenrod;
}